@font-face {
    font-family: "Raleway", "Goudy";
}
.container-fluid
{
	margin: 0px;
	padding: 0px; 
}
.bkg-img
{
	background-image: url("images/layer-2.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 925px;
	/*background-position: center center ;*/
}
.navbar-default {
	opacity: 0.7;
    background-color: black; 
    border: none;   
}
.wlcom
{
	margin-top: 300px;
	margin-bottom: auto;
	font-size: 25px;
	color: white;
	font-family: "Raleway";
}
.Delecious
{
	margin-top: 90px;
	margin-bottom: auto;
	font-size: 100px;
	color: white;
	font-family: "Raleway";
}
.design-txt
{
	font-size: 30px;
	font-family: "Goudy";
}
.the-process
{
	background-color: #faf4f4;
}
.process-title
{
	margin-top: 80px;
}
.square
{
	margin-top: 50px;
	margin-bottom: 50px;
}
.icon
{
	font-size: 100px;
}
.portfolio-sub-title
{
	margin-bottom: 50px;
}
.thumbnail
{
	float: left;
}
.buy
{
	height: 200px;
	background-color: #471111;
}
.buy-txt
{
	color: white;
}
.buy-btn
{
	border: 2px solid white;
	width: 230px;
	height: 50px;
	background-color:  #471111;
	color: white;
	font-size: 20px;
}
.img-circle:last-child
{
	margin-left: 60px;
}
.img-circle
{
	padding: 10px;
}
.left-arrow
{
	position: relative;
	font-size: 40px;
	margin-top: 100px;
}
.right-arrow {
    position: relative;
    font-size: 40px;
    margin-top: 162px;
}
.relax-img
{
	width: 100%;
}
.techs
{
	margin-left: 10px;
	padding: 10px;
}
.footer
{
	height: 100px;
	background-color: black;
}
.rights
{
	margin-top: 50px;
	margin-left: 50px;
	color: white;
	font-size: 15px;
}
.social
{
	font-size: 14px;
	color: white;
	margin-top: 55px;
}